
  .product {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin-left: 10vw;
    padding: 2.5em 0;
    min-width: 800px;
    background-color: white;
    border-radius: 5px;
    

  }
  .product__photo {
    position: relative;
  }
  .photo-container {
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.8);
  }
  .photo-main {
    width: 100%;
    height: 80vh;
    border-radius: 6px;
  }
  .photo-main img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
  .photo-main .controls {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  /* ----- Informations Section ----- */
  .product__info {
    padding: 0.8em 0;
  }
  .title h1 {
    margin-bottom: 0.1em;
    color: #4c4c4c;
    font-size: 1.5em;
    font-weight: 900;
  }
  .title span {
    font-size: 0.7em;
    color: #a6a6a6;
  }
  .price {
    margin: 1.5em 0;
    font-size: 1.2em;
  }
  .price span {
    padding-left: 0.15em;
    font-size: 2.9em;
  }
  
  .description {
    clear: left;
    margin: 2em 0;
  }
  .description h3 {
    margin-bottom: 1em;
  }
  .description ul {
    font-size: 0.8em;
    list-style: disc;
    margin-left: 1em;
  }
  .description li {
    text-indent: -0.6em;
    margin-bottom: 0.5em;
  }


  .buy--btn {
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: black;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;
    margin-left: 4vh;
  }
  .buy--btn:active {
    transform: scale(0.97);
  }
