<nav class="nav">
    <div class="logo"><a  [routerLink]="['']"><img class="img" src="https://logos.textgiraffe.com/logos/logo-name/Yonas-designstyle-smoothie-m.png" alt=""></a></div>
    <ul class="nav-list">
        <li><a  [routerLink]="['product']">Product</a> </li>
        <li> <a [routerLink]="['customer']" >Customer</a></li>
    </ul>
</nav> 



<router-outlet></router-outlet>

 
<footer>
  
    <section class="ft-main">
      <div class="ft-main-item">
        <h2 class="ft-title">About</h2>
     
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Contact</h2>
       
    </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Products</h2>
        
        
      
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Customers</h2>
      
      </div>
    </section>
  
    <!-- Footer social -->
    <section class="ft-social">
      <ul class="ft-social-list">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-github"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </section>
  
    <!-- Footer legal -->
    <section class="ft-legal">
      <ul class="ft-legal-list">
        <li><a >Terms &amp; Conditions</a></li>
        <li><a >Privacy Policy</a></li>
        <li>&copy; 2022 by yonas</li>
      </ul>
    </section>
  </footer>
  
    
 
  
